#testimonial-slide-thumb-img p {
   padding: 20px;
   text-align: justify;
}
.jhm-container .jhm-slide {
   width: 100%;
   height: 100%;
   background: #fefefe;
   text-align: center;
   font-size: 1.89em;
   padding-top: 160px;
   color: #555;
   text-shadow: 1px 2px 1px black;
}
#left,
#right {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    visibility: hidden;
    z-index: 99;
}
#left {
    background: url(../images/left.png) center no-repeat;
    left: 0px;
}
#right {
    background: url(../images/right.png) center no-repeat;
    right: 0;
}
#mac-screen #left {
    visibility: hidden;
    left: 0;
}
#mac-screen #right {
    visibility: hidden;
    right: 0;
}
#left:hover,
#right:hover,
#bullet-navs:hover {
    cursor: pointer;
}
.ratio {
    padding-bottom: 66.66%;
    position: relative;
}
#mac-screen:hover {
    cursor: pointer;
}
#mac-screen:hover #left,
#mac-screen:hover #right,
.jhm-container:hover #left,
.jhm-container:hover #right {
    animation: arrows 0.6s ease;
    -webkit-animation: arrows 0.6s ease;
    visibility: visible;
}
.jhm-slider.vertical #right {
    bottom: 0px;
    top: auto;
    background: url(../images/down.png) center no-repeat;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 0
}
.jhm-slider.vertical #left {
    top: 0;
    bottom: auto;
    background: url(../images/up.png) center no-repeat;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 0
}
.jhm-slider.vertical #left,
.jhm-slider.vertical #right {
    left: 50%;
    margin: 0;
    margin-left: -16px;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
}
.jhm-slider.vertical #mac-screen:hover #right,
.jhm-slider.vertical #mac-screen:hover #left,
.jhm-slider.vertical .jhm-container:hover #right,
.jhm-slider.vertical .jhm-container:hover #left {
    animation: none;
    -webkit-animation: none;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1
}

.jhm-slider {
    width: 100%;
    margin: 45px 0;
    position: relative;
}
.jhm-slide img {
    width: 100%;
    height: 100%;
}
.jhm-container {
    max-width: 100%;
    margin: auto;
    position: relative;
    height: auto;
    overflow: hidden;
    height: auto;
    text-align: center;
}
.jhm-container .jhm-slide {
    position: absolute;
    top: 0;
    left: 0;
}
.jhm-container:hover {
    cursor: move;
}
.jhm-slide {
    visibility: hidden;
    width: 100%;
}
.jhm-slide.active {
    visibility: visible;
}
#jhm-thumbs {
    height: auto;
    position: absolute;
    bottom: 0px;
    padding: 0 0.5%;
    padding-top: 2px;
    width: 100%;
    background: rgba(0, 0, 0, 0.43);
    line-height: 20px
}
#jhm-thumbs.no-bg {
    background: transparent
}
blockquote {
    position: relative;
    color: #444;
    font-style: italic;
    text-shadow: none;
    width: 45%;
    margin: auto;
    display: block;
	border: none;
}
blockquote:before {
    content: "\201C";
    position: absolute;
    top: 0px;
    left: -25px;
    color: steelblue;
    font-size: 72px;
    font-style: normal;
    font-family: 'Georgia', 'sans-serif';
}
blockquote span.client {
    display: block;
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top: 35px;
}
blockquote .client .name,
blockquote .client .title {
    color: #999;
    font-style: normal;
    display: inline-block;
    margin: 0 5px;
}
blockquote .client .name {
    font-weight: 600;
    position: relative;
}
blockquote .client .name:after {
    content: ' / ';
    position: absolute;
    top: 0;
    right: -10px;
    color: #333;
}
blockquote .client .title {
    font-weight: normal;
    font-size: 0.9em;
}
#jhm-thumbs.center {
    text-align: center;
}
#jhm-thumbs.left {
    text-align: left;
}
#jhm-thumbs.right {
    text-align: right;
}
#jhm-thumbs.show {
    visibility: hidden;
}
#jhm-thumbs.top {
    top: 0;
    bottom: auto;
}
#jhm-thumbs.nov {
    background: transparent;
}
.jhm-container:hover #jhm-thumbs.show {
    animation: arrows 0.6s ease;
    -webkit-animation: arrows 0.6s ease;
    visibility: visible;
}
#jhm-thumbs .jhm-thumb {
    display: inline-block;
    margin: 0 1.5px;
    border: 2px solid cornflowerblue;
    opacity: 0.5;
    box-shadow: 0 0 1px;
}
#jhm-thumbs .jhm-thumb.active {
    border-color: indianred;
    opacity: 1;
}
.jhm-thumb {
    width: 92px;
    height: 92px;
    line-height: 1
}
.jhm-thumb img {
    max-width: 100%;
    height: 100%;
}
.jhm-thumb:hover {
    cursor: pointer;
    border-color: indianred;
}
.jhm-slider.vertical #jhm-thumbs {
    width: auto!important;
    height: 100%!important;
    direction: vertical
}
.jhm-slider.vertical #jhm-thumbs .jhm-thumb {
    display: block;
    margin: 3px 0;
}
/*=====================================
            SLIDER STYLE
=====================================*/

.jhm-container.shadow {
    box-shadow: 0 0 3px;
    -webkit-box-shadow: 0 0 3px;
}
.jhm-container.border {
    border: 7px double #929292;
}
.jhm-container.frame {
    border: 10px ridge #777;
}
.jhm-layer {
    opacity: 0;
}
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes arrows {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes arrows {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@media only screen and (min-width: 880px) {
    .jhm-thumb {
        width: 92px;
        height: 92px;
    }
}
@media only screen and (min-width: 1200px) {
    .jhm-thumb {
        width: 108px;
        height: 108px;
    }
}
